<!-- connect base.html codes -->
{% extends 'app/base.html' %}  
{% block content %}
    <h1>list profile data</h1>
        

    <div class="container">
      <div class="row row-cols-3">
        {% for profile in profile_list %}

        <div class="col">
          <div class="card">
            <div class="card-header">
              <a href="{% url 'show-profile' profile.id %}">{{ profile }}</a> <br/>
            </div>
            <div class="card-body">
              <h5 class="card-title">Details</h5>
              <p class="card-text">
                <ul>
                    <li>Address: {{ profile.Address }}</li>
                    <li>Age: {{ profile.Age }}</li>
                    <li>Sex: {{ profile.Sex }}</li>
                    <li>Education: {{ profile.Education }}</li>    
                    <li>Occupation: {{ profile.Occupation }}</li>
                    <li>Diocese: {{ profile.Diocese }}</li>
                    
                    <li>Town: {{ profile.Town }}</li>
                    
                </ul>
              </p>
            </div>
          </div>
    
        </div>
        {% endfor %}

      </div>
    </div>


    
      <br/> 

                    
{% endblock %}