<!-- connect base.html codes -->
{% extends 'app/base.html' %}  
{% block content %}
   
        

    
        <div class="card">
            <div class="card-header">
                {{ profile }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ profile }}</h5>
              <p class="card-text">
                <ul>

                  <li>Address: {{ profile.Address }}<br/></li>
                  <li>Age: {{ profile.Age }}<br/></li>
                  <li>Sex: {{ profile.Sex }}<br/>
                  <li>Education: {{ profile.Education }}<br/>
                  <li>Occupation: {{ profile.Occupation }}<br/>
                  <li>Height: {{ profile.Height }}<br/>
                  <li>Weight: {{ profile.Weight }}<br/>
                  <li>Email: {{ profile.email }}<br/>
                  <li>Mobile-no: {{ profile.Mobile_no }}<br/>
                  <li>Diocese: {{ profile.Diocese }}<br/>
                  <li>Parish: {{ profile.Parish }}<br/>
                  <li>Community: {{ profile.Community }}<br/>
                  <li>Town: {{ profile.Town }}<br/>
                  <li>Family_Status: {{ profile.Family_Status }}<br/>
                  <li>Name_of_the_Parent: {{ profile.Name_of_the_Parent }}<br/>
                  <li>Parent_mobile: {{ profile.Parent_mobile }}<br/>
                  <li>Partners_Requirements: {{ profile.Partners_Requirements }}<br/>
                  <li>Contact_address: {{ profile.Contact_address }}<br/>
                  <li>Office_use: {{ profile.Office_use }}<br/>
                  <li>Place: {{ profile.Place }}<br/>
                  <li>Date: {{ profile.date }}<br/>
                    
                  
                </ul>
              </p>
            </div>
          </div>


    </center>
{% endblock %}